html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Heebo', sans-serif;
    background: #faf8f6;
    font-size: 1.6rem;
}

.img-fluid {
    max-width: 250px;
    height: auto;
}
}
/* Footer Styles */
footer {
    background-color: #1c1c1c;
    font-size: 1.3rem;
}

footer h5 {
    font-size: 1.6rem;
    letter-spacing: 1px;
}
.col-lg-3 col-md-6 mb-4{
padding 15px
}
footer ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ddd;
}

.newsletter-form .form-control {
    border-radius: 20px 0 0 20px;
}

.newsletter-form .btn {
    border-radius: 0 20px 20px 0;
}

@media (max-width: 576px) {
    .newsletter-form .form-control,
    .newsletter-form .btn {
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .d-flex a {
        margin-bottom: 10px;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}
.two-columns {
    columns: 2; /* Số cột hiển thị */
    column-gap: 20px; /* Khoảng cách giữa các cột */
}

.two-columns li {
    break-inside: avoid; /* Đảm bảo mục không bị cắt giữa chừng */
}

.social-icons {
    list-style: none; /* Loại bỏ dấu đầu dòng */
}

.list-social-item {
    display: inline-block; /* Để các icon nằm ngang */
    margin: 0 0 0 3px;
    width: 50px;
    height: 50px;
}

.list-social-link svg {
    transition: transform 0.3s ease;
    width: 50px;
    height: 50px;
}

.list-social-link:hover svg {
    transform: scale(1.2); /* Phóng to khi hover */
}


.card-height {
    min-height: 430px;
}

.bg-black {
    background-color: black;
}

.col-md-7 p {
    color: #555;
}

.col-md-7 input {
    height: 33px;
    text-align: center;
    width: 40px;
}

/* NAVBAR */
.left-section {
    padding-left: 10px; /* Điều chỉnh khoảng cách trái */
}

.left-section .logo {
    width: 150px; /* Điều chỉnh kích thước theo nhu cầu */
    max-width: 100%; /* Đảm bảo logo không vượt quá kích thước container */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh đúng */
}

@media (min-width: 768px) {
    .left-section .logo {
        width: 180px; /* Tăng kích thước trên màn hình lớn hơn */
    }
}
.left-section {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 0; /* Đảm bảo không có khoảng cách bên trái */
}

.middle-section {
    flex: 2;
    display: flex;
    justify-content: center;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 0; /* Đảm bảo không có khoảng cách bên phải */
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    width: 100%;
}

.navbar-nav .nav-link {
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.3s;
    font-size: 0.9rem;
}
.input-group {
    border-radius: .7rem;
    width: 100%;
    border: .1rem;
    max-width: 100%;
    width: 28.8rem;
}
.navbar-nav .nav-link:hover {
    color: #f0ad4e; /* Màu nhấn */
}

body {
  font-family: Arial, sans-serif;
}

.navigation-drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1050;
}

.navigation-drawer-wrapper.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.content-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.content-body {
  padding: 20px;
}

.child-link-wrapper .child-link-inner a {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.child-link-wrapper .child-link-inner a:hover {
  color: #007bff;
}




.badge-pill {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.search-input {
    padding: 5px 10px;
    border-radius: 25px;
    width: 250px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}

.search-input:focus {
    border-color: #f0ad4e;
    box-shadow: 0 0 5px rgba(240, 173, 78, 0.5);
}

.header-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Giúp các biểu tượng cách đều nhau */
  gap: 20px; /* Khoảng cách giữa các biểu tượng */
  padding: 0px 20px; /* Khoảng padding để cân đối */
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-icon svg {
  height: 35px;
  fill: white; /* Màu trắng cho biểu tượng */
}

.cart-icon-wrapper {
  position: relative;
}

.cart-count-bubble {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #555;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.divider {
  height: 40px;
  width: 1px;
  background-color: #fff; /* Đường phân cách màu trắng */
}

.track-icon span {
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}


form .btn {
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

form .btn img {
    width: 20px;
    height: 20px;
}



/* SIDEBAR */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.img-section1{
border-radius: 10px 10px 0 0;
}

#homeSubmenu {
    overflow-y: scroll !important;
    max-height: 250px !important;
}


#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#sidebar ul p{
    list-style-type: none;
    padding: 10px;
}

#sidebar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #7386D5;
    background-color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*color: #fff;*/
    /*background-color: #6d7fcc;*/
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* Checkbox */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.checkbox label input[type="radio"] {
    display: none;
}

.checkbox label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* Account sidebar Link */
.account-container {
    padding: 0;
    min-height: 350px;
}

.account-sidebar-link {
    margin: 10px 0 10px 0;
    padding: 0;
    color: black;
}

.account-sidebar-link a {
    font-weight: bold;
    color: black;
    transition: .3s;
}

.account-sidebar-link a:hover {
    color: #00A1DF;
    text-decoration: none;
}

.is-active {
    color: #00A1DF;
    text-decoration: none;
}

/* User Info */
.data_item {
    font-weight: bold;
}

.data_text {
    margin-left: 10px;
    font-weight: normal;
}

/* perfumes */
.perfume_list_item_wrapper {
    height: 320px;
}

.perfume_list_item_image_wrapper {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfume_list_item_image {
    width: 80px;
    margin-top: 20px;
}

.manage_user_order_subtitle {
    margin-bottom: 30px;
}

.manage_user_order_summary {
    margin-bottom: 30px;
    margin-top: 30px;
}

.manage_user_order_summary_price {
    color: green;
}
.carousel-item {
      transition: transform 1s ease-in-out; /* Tăng thời gian chuyển động và làm mềm */
          width: 100%;
          height: 100%;
          object-fit: cover; /* Giúp ảnh bao phủ toàn bộ slide */
   }
#section-1 .collection {
    background-color: #fff;
    box-shadow: 0 .1rem .8rem #0003;
    overflow: hidden;
    border-radius: 10px
}

.showcase {
    border-radius: 20px;
}

.product-tag {
    width: 80px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
    border-radius: .5rem;
    background: #3c3c3c;
    color: #fff;
}

.product-card{
    padding: 20px;
    border-radius: 10px;
}

#section-3 .product-img{
    border-radius: 10px;
}

#section-3 .card{
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;

}
#section-3  .btn-add-cart {
     background-color: #dc3545; /* Màu đỏ Bootstrap Danger */
     color: white;
     font-weight: bold;
     border-radius: 25px; /* Bo tròn nút */
     padding: 12px 30px;
     border: none;
     font-size: 18px;
     margin-top: 1.5rem;
}

#section-3 .btn-add-cart:hover {
     background-color: #c82333; /* Màu đậm hơn khi hover */
}


#section-3 .product-info-wrapper {
 display: flex;
 align-items: center;
 gap: 15px;
}

#section-3 .product-info-block {
 display: flex;
 align-items: center;
 gap: 8px;
}

#section-3 .image-wrapper img {
 width: 30px;
 height: 30px;
}

#section-3 .divider {
 border-left: 1px solid #ccc;
 height: 30px;
 margin: 0 10px;
}

#section-3 .info-text {
    font-size: 10px;
    font-weight: 700;

}

#section-3 .product-info-text{
    line-height:0.8;
}

    .nav-tabs {
      border-bottom: none; /* Loại bỏ đường viền mặc định */
    }

#section-3 .nav-link {
  color: #666;
  font-size: 18px;
  border: none; /* Xóa khung viền của tab */
  padding-bottom: 8px;
  position: relative;
  transition: color 0.3s ease;
}

#section-3 .nav-link.active {
  color: black;
  font-weight: bold;
}

#section-3 .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black; /* Đường gạch chân màu đen */
}

#section-3 .nav-link:hover {
  color: black; /* Thay đổi màu khi hover */
}

#section-4 .groom-heading {
   font-size: 2rem;
   font-weight: bold;
   text-transform: uppercase;
   color: #333;
}

#section-4 .video-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 600px; /* Điều chỉnh chiều cao container */
}

#section-4 .video-player {
   height: 100%; /* Đảm bảo video chiếm toàn bộ chiều cao */
   width: auto; /* Duy trì tỷ lệ khung hình */
   max-height: 600px; /* Đặt giới hạn cho chiều cao video */
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section-4 .carousel-control-prev-icon,
#section-4 .carousel-control-next-icon {
   border-radius: 50%;
   width: 50px;
   height: 50px;
}

/* Hiệu ứng chuyển đổi slide mượt */
#section-4 .carousel-item {
   transition: transform 0.5s ease, opacity 0.5s ease;
}