<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="contact-section py-5">
        <div class="header-subtext ">
            <div class="bold text-uppercase mb-4 h1">CONTACT US</div>
            <p class="company-info">
                <span class="fw-bold">CÔNG TY TNHH THE MAN CENTURY</span>
            </p>
            <p class="company-info">
                <span class="fw-bold">Mã số thuế:</span> 0110292002
            </p>
            <p class="company-info">
                <span class="fw-bold">Địa chỉ:</span> Số 52 Market Str, Sunrise E, Khu đô thị The Manor Central Park, Phường Đại Kim, Quận Hoàng Mai, TP Hà Nội
            </p>
            <p class="company-info">
                <span class="fw-bold">SDT:</span> 0886001666
            </p>
            <p class="company-info">
                <span class="fw-bold">Mail:</span> <a href="mailto:support@theman.vn">support@theman.vn</a>
            </p>
            <p class="company-info">
                <span class="fw-bold">Liên hệ hợp tác:</span> <a href="mailto:info@theman.vn">info@theman.vn</a>
            </p>
        </div>
    </div>
</div>


<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
