<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="container">


    <div id="section-1" class="text-center my-3 mt-5">
        <div class="row">
            <div class="col-3">
               <div class="text-center collection">
                    <img class="w-100 img-section1" src="//www.themancompany.com/cdn/shop/files/Festive_TOP_TILESTOP_TILE_DESKTOP.jpg?v=1728042206">
                    <div class="fw-bold my-2">FESTIVAL</div>
               </div>
            </div>
            <div class="col-3">
                <div class="text-center collection">
                    <img class="w-100 img-section1" src="//www.themancompany.com/cdn/shop/files/Festive_TOP_TILESTOP_TILE_DESKTOP.jpg?v=1728042206">
                    <div class="fw-bold my-2">FESTIVAL</div>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center collection">
                    <img class="w-100 img-section1" src="//www.themancompany.com/cdn/shop/files/Festive_TOP_TILESTOP_TILE_DESKTOP.jpg?v=1728042206">
                    <div class="fw-bold my-2">FESTIVAL</div>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center collection">
                    <img class="w-100 img-section1" src="//www.themancompany.com/cdn/shop/files/Festive_TOP_TILESTOP_TILE_DESKTOP.jpg?v=1728042206">
                    <div class="fw-bold my-2">FESTIVAL</div>
                </div>
            </div>

        </div>
    </div>

    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src='https://www.themancompany.com/cdn/shop/files/Festivities_BannerDESKTOP_9877823b-31c7-4a0e-a22c-35d0415a547c_1500x.jpg?v=1728042081' class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src='https://www.themancompany.com/cdn/shop/files/Anti-Greying-Range-BannerDESKTOP.jpg?v=1712139360' class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src='https://www.themancompany.com/cdn/shop/files/Oud_banner_Homepage_Desktop.jpg?v=1727958541' class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="text-center my-3 mt-5">
        <h3>BRANDS</h3>
        <div id="perfumerCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row active">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Tom Ford', src='https://www.themancompany.com/cdn/shop/files/Festivities_BannerDESKTOP_9877823b-31c7-4a0e-a22c-35d0415a547c_1500x.jpg?v=1728042081')"/>
                </div>
                <div class="carousel-item row">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Gucci', src='https://www.themancompany.com/cdn/shop/files/Festivities_BannerDESKTOP_9877823b-31c7-4a0e-a22c-35d0415a547c_1500x.jpg?v=1728042081')"/>
                </div>
                <div class="carousel-item row">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Bvlgari', src='https://www.themancompany.com/cdn/shop/files/Festivities_BannerDESKTOP_9877823b-31c7-4a0e-a22c-35d0415a547c_1500x.jpg?v=1728042081')"/>
                </div>
            </div>
            <th:block th:replace="fragments/common-fragments :: carousel-indicators('#perfumerCarousel')"/>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-5">
                    <a th:href="${'/perfume?genders=female'}">
                        <img class="img-fluid" src="https://i.ibb.co/jMmJs60/Them-Woman-ENG.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-5">
                    <a th:href="${'/perfume?genders=male'}">
                        <img class="img-fluid" src="https://i.ibb.co/mJGKz8c/Them-Man-ENG.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-3">
        <h4>PERSONALLY RECOMMENDED</h4>
    </div>
    <div class="mt-5">
        <form method="get" action="/perfume/popular">
            <div class="row">
                <div class="col-sm-12">
                    <div id="perfumeCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[0]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[1]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[2]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[3]})"/>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[4]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[5]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[6]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[7]})"/>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[8]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[9]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[10]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[11]})"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: carousel-indicators('#perfumeCarousel')"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>

<script>
    const openDrawerButton = document.getElementById('openDrawer');
    const closeDrawerButton = document.getElementById('closeDrawer');
    const drawer = document.getElementById('drawer');

    openDrawerButton.addEventListener('click', () => {
      drawer.classList.add('active');
      drawer.classList.remove('d-none');
    });

    closeDrawerButton.addEventListener('click', () => {
      drawer.classList.remove('active');
      setTimeout(() => drawer.classList.add('d-none'), 300); // Delay for transition
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
